.outer {
    background-color: rgb(179, 175, 175);
    /* border: 2px solid black; */
    width: 280px;
    height: 204px;
    margin: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.inner {
    background-color: rgb(255, 255, 255);
    /* border: 2px solid black; */
    border-radius: 50%;
    /* margin-left: 40px; */
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.in-inner {
    background-color: rgb(179, 175, 175);
    /* border: 2px solid black; */
    border-radius: 50%;
    /* margin-left: 40px;
    margin-top: 50px; */
    width: 90px;
    height: 90px;
}
body{background-color: #2e2e2e;}
.back-cover{
width: 300px;
height: 500px;
background: #cccccc;
margin: 40px auto;
/*radius*/
-webkit-border-radius: 30px;
    -moz-border-radius: 30px;
        border-radius: 30px;
z-index: -9;
/*shadow*/
-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
}

.main{
width: 300px;
height: 500px;
background: #f0f0f0;
margin: auto;
overflow: hidden;
/*radius*/
-webkit-border-radius: 30px;
    -moz-border-radius: 30px;
        border-radius: 30px;
/*position front body */
position: relative;
top: -8px;
left: 8px;
}

.screen{
width: 260px;
height: 200px;
color: cyan;
font-size: 18px;
background: #2e2e2e;
margin: 20px auto;
display: flex;
justify-content: center;
overflow: hidden;
border: 4px solid #555555;
/*radius*/
-webkit-border-radius: 10%;
    -moz-border-radius: 10%;
        border-radius: 10%;
}
.screen>div{
    width: 130px;
    height: 200px;
}

.screen li{
    list-style-type: none;
    padding: 5px;
}
.screen:hover{
    cursor: none;
}
.active{
    background-color: rgb(196, 43, 16);
}

.left {
    background-color: black;  
}
.right {
    
    background-color: gray;
}

.screen img{
width:260px;
height: 100%;
}

.navigator{
width: 260px;
height: 230px;
margin: auto;
overflow: hidden;
position: relative;
}

#keys{
width: 210px;
height: 210px;
background: white;
margin: 10px auto;
overflow: hidden;
/*radius*/
-webkit-border-radius: 100%;
    -moz-border-radius: 100%;
        border-radius: 100%;
/*shadow*/
-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
}

#keys:hover{
-webkit-box-shadow: 0px 0px 22px 3px rgba(0,166,255,0.32);
-moz-box-shadow: 0px 0px 22px 3px rgba(0,166,255,0.32);
box-shadow: 0px 0px 22px 3px rgba(0,166,255,0.32);
}


.menu-btn{
display: block;
position: absolute;
top: 32px;
left: 107px;
font-family: arial;
font-weight: bold;
font-size: 16px;
color: gray;
}

.menu-btn:hover{
color: #00a6ff;
/* duration / speed */
-webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
        transition: all 0.2s;
}

.fwd{
width: 22px;
position: absolute;
top: 108px;
left: 195px;
}

.fwd{  

/*filter*/
filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
        -o-filter: grayscale(1);
        -ms-filter: grayscale(1);
/* duration / speed */
-webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
        transition: all 0.2s;
}


.fwd:hover{
color: #00a6ff;

/*filter*/
filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
        -o-filter: grayscale(0);
        -ms-filter: grayscale(0);
/* duration / speed */
-webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
        transition: all 0.2s;
}


.bkd{
width: 22px;
position: absolute;
top: 108px;
left: 41px;
}

.bkd{  
/*filter*/
filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
        -o-filter: grayscale(1);
        -ms-filter: grayscale(1);
/* duration / speed */
-webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
        transition: all 0.2s;
}


.bkd:hover{
color: #00a6ff;

/*filter*/
filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
        -o-filter: grayscale(0);
        -ms-filter: grayscale(0);
}

.play-pause{
width: 28px;
position: absolute;
top: 182px;
left: 120px;
}

.play-pause{  
/*filter*/
filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
        -o-filter: grayscale(1);
        -ms-filter: grayscale(1);
}


.play-pause:hover{
color: #00a6ff;

/*filter*/
filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
        -o-filter: grayscale(0);
        -ms-filter: grayscale(0);
}


.play{
width: 100px;
height: 100px;
background: #f0f0f0;
margin: 54px auto;
border-radius: 100%;
position: absolute;
top: 11px;
left: 80px;
z-index: 200;
/*shadow*/
-webkit-box-shadow: inset 0px -2px 14px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px -2px 14px -1px rgba(0,0,0,0.3);
        box-shadow: inset 0px -2px 14px -1px rgba(0,0,0,0.3);
}

